<template lang="pug">
	div
		h1
			| Vibration API
		p
			| The vibration API allows for custom use of vibration hardware on devices that support it, which is most often mobile devices.
		md-button.md-raised.md-primary( @click.native='vibrate(100)' )
			| Vibrate 100ms
		md-button.md-raised.md-primary( @click.native='vibrate(500)' )
			| Vibrate 500ms
		md-button.md-raised.md-primary( @click.native='vibrate(1000)' )
			| Vibrate 1sec
		md-button.md-raised.md-primary( @click.native='vibrate(5000)' )
			| Vibrate 5sec

		p
			| Simply enter the amount of milliseconds you want your device to vibrate below.
			br
			| Below you can enter numbers seperated by spaces to tell you device to vibrate for x, pause for x, vibrate, pause, etc...

		md-input-container
			label Vibrate for:
			md-input( v-model='vibrateTime' type='text' placeholder='Milliseconds')

		br
		md-button.md-raised.md-primary( @click.native='vibrateCustom' )
			| Vibrate

		md-button.md-raised.md-primary( @click.native='vibrateStop' )
			| Stop vibrations
</template>

<script>
export default {
	name: 'Vibration',
	data: () => {
		return { vibrateTime: null };
	},
	methods: {
		vibrate (time) {
			window.navigator.vibrate(time);
		},
		vibrateCustom () {
			const vibrateArray = this.vibrateTime.split(' ').map((x) => {
				return parseInt(x);
			});
			try {
				window.navigator.vibrate(vibrateArray);
			} catch (e) {
				console.log(e);
			}
		},
		vibrateStop () {
			window.navigator.vibrate(0);
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
