<template lang="pug">
	div.container
		md-sidenav.main-sidebar.md-left.md-fixed( md-swipeable ref="main-sidebar"  )
			md-toolbar.cervos-logo( @click.native="closeSidenav" md-theme="white" )
				router-link( exact to="/" )
					div( @click.native="closeSidenav" )
						img( src="./assets/cervos_a_b.svg" )

			md-list.main-sidebar-links
				md-list-item
					router-link( to="/notifications" @click.native="closeSidenav") Notifications
				md-list-item
					router-link( to="/vibration" @click.native="closeSidenav" ) Vibration
				md-list-item
					router-link( to="/browser-info" @click.native="closeSidenav" ) Browser info
				md-list-item
					router-link( to="/device-info" @click.native="closeSidenav" ) Device info
		div.page-content
			md-toolbar
				md-button.md-icon-button( @click.native="toggleSidenav" )
					md-icon menu
				h4.md-title Hjort.xyz
			main
				router-view
</template>

<script>
export default {
	name: 'app',
	methods: {
		toggleSidenav () {
			this.$refs['main-sidebar'].toggle();
		},
		closeSidenav () {
			this.$refs['main-sidebar'].close();
		}
	}
};

</script>

<style lang="less">
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-Thin.ttf') format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-ThinItalic.ttf') format("truetype");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-Light.ttf') format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-LightItalic.ttf') format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-Regular.ttf') format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-Italic.ttf') format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-Medium.ttf') format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-MediumItalic.ttf') format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-Bold.ttf') format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-BoldItalic.ttf') format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-Black.ttf') format("truetype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('./assets/fonts/Roboto-BlackItalic.ttf') format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/MaterialIcons-Regular.eot');
	src: url('./assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('./assets/fonts/MaterialIcons-Regular.woff') format('woff'), url('./assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

@sizebar-size: 280px;

@swift-ease-out-duration: .4s;
@swift-ease-out-timing-function: cubic-bezier(.25, .8, .25, 1);
@swift-ease-out: all @swift-ease-out-duration @swift-ease-out-timing-function;

@swift-ease-in-duration: .3s;
@swift-ease-in-timing-function: cubic-bezier(.55, 0, .55, .2);
@swift-ease-in: all @swift-ease-in-duration @swift-ease-in-timing-function;

@shadow-key-umbra-opacity: .2;
@shadow-key-penumbra-opacity: .14;
@shadow-ambient-shadow-opacity: .12;

@material-shadow-2dp: 0 1px 5px rgba(#000, @shadow-key-umbra-opacity), 0 2px 2px rgba(#000, @shadow-key-penumbra-opacity), 0 3px 1px -2px rgba(#000, @shadow-ambient-shadow-opacity);

[v-cloak] {
	display: none;
}

html, body {
	height: 100%;
}

body {
	display: flex;
}

main {
	font-size: 1.4em;
	width: 100%;
	padding: 30px;
	margin: 0 auto;
	@media (min-width: 1000px) {
		padding: 50px;
		width: 800px;
	}
	@media (min-width: 1281px) {
		width: 960px;
	}
}

h1, h2, h3 {
	font-weight: 400;
	color: #388e3c;
}

::selection {
	background: #81C784 !important;
}

::-moz-selection {
	background: #81C784 !important;
}

.container {
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	transition: @swift-ease-out;
	@media (min-width: 1281px) {
		padding-left: @sizebar-size;
	}
}

.main-sidebar.md-sidenav {
	.md-sidenav-content {
		width: @sizebar-size;
		display: flex;
		flex-flow: column;
		overflow: hidden;

		@media (min-width: 1281px) {
			top: 0;
			pointer-events: auto;
			transform: translate3d(0, 0, 0);
			box-shadow: @material-shadow-2dp;
		}
	}
}

.md-backdrop {
	@media (min-width: 1281px) {
		opacity: 0;
		pointer-events: none;
	}
}

.md-toolbar {
	border-bottom: 1px solid rgba(#000, .12);
}

.cervos-logo {
	font-size: 24px;
	div {
		width: 100%;
		text-align: center;
		img {
			padding: 15px 0 0;
			height: 47px;
			margin-bottom: 16px;
		}
	}
	a {
		width: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		color: inherit;
		text-decoration: none;
	}
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

.main-sidebar-links {
	overflow: auto;
	flex: 1;
	.md-inset .md-list-item-container {
		padding-left: 36px;
	}
	.md-list-item-container {
		font-size: 14px;
		font-weight: 500;
	}
}

.main-content {
	padding: 16px;
	flex: 1;
	overflow: auto;
	background-color: #fff;
	transform: translate3D(0, 0, 0);
	transition: @swift-ease-out;
	transition-delay: .2s;
}

.md-router-enter, .md-router-leave {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	@media (min-width: 1281px) {
		left: @sizebar-size;
	}
	.main-content {
		opacity: 0;
		overflow: hidden;
	}
}

.md-icon-button {
	margin-right: 0 !important;
	@media (min-width: 1281px) {
		display: none;
	}
}

.md-title {
	margin-left: 16px !important;
}

.md-router-leave {
	z-index: 1;
	transition: @swift-ease-in;
	transition-duration: .25s;
}

.md-router-enter {
	z-index: 2;
	transition: @swift-ease-out;
	.main-content {
		transform: translate3D(0, 10%, 0);
	}
}

.phone-viewport {
	width: 360px;
	height: 540px;
	margin-right: 16px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid rgba(#000, .12);
}

</style>
